$primary-color: #006256;
$secondary-color : #FFC300;
$default-text-color: #FFFFFF;
$black: #000000;
$default-body-color: #F2F7F7;

$primary-color-10 : rgba(0, 98, 86, 0.1);
$primary-color-05 : rgba(0, 98, 86, 0.05);